Accept.language does not match more specific language tag

Hi there :wave: 

@dotkuro and I have noticed a small bug in the code responsible for matching preferences to accepted values.
While developing a web application, we noticed that when we provide content in `de-DE` and the browser requests just `de`, `accept.language` does not match any language tag. This affects NextJS downstream, [where we first encountered this issue](https://github.com/vercel/next.js/issues/20488#issuecomment-770890446).

According to [RFC 4647](https://tools.ietf.org/html/rfc4647#section-3.3.1), a language range (i.e. `de`) should match a language tag (i.e. `de-DE`), if it is a prefix of the tag and not just an exact match:

> A language range matches a particular language tag if, in a case-insensitive comparison, it exactly equals the tag, or if it exactly equals a prefix of the tag such that the first character following the prefix is "-". 

We believe we have identified the piece of code responsible for this behavior:
https://github.com/hapijs/accept/blob/f3737593e0b6455057a0698ec9bbafb1063aa0d2/lib/header.js#L194

Here, only exact matches from our preferences are considered.

Even though the RFC description is loose enough so we can interpret that it is allowed to send a language singlet. I also looked at the MDN documentation for further info: https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Accept-Language#directives. It seems to be accepted indeed. I'll flag this as a bug and we'll see what other think about it too.

This is not really a bug. The method returns the best match from the preferences, as documented.

If you want to match using something closer to the basic filtering method, you can add the base versions to your preferences.
Eg. instead of `['en-US', 'en-GB', 'de-DE']`, use `['en-US', 'en-GB', 'en', 'de-DE', 'de']`.

Of course this means that the return value might be `en` or `de`, and that you need to do a reverse lookup to find the full value.

FYI, this can still produce different results than the basic filtering method, since ranges with equal weights are prioritised according to the ordering in preferences.

@kanongil so would it be fair to say that hapi/accept does _not_ implement any of the matching schemes defined in [RFC4647 section 3](https://tools.ietf.org/html/rfc4647#section-3)? The documentation for the library indirectly points to this RFC, so I will use that as a reference here.

From my understanding of RFC7231, when handling `Accept-Language`, one of the offered schemes should be implemented. 

> For matching, Section 3 of [RFC4647] defines several matching schemes. Implementations can offer the most appropriate matching scheme for their requirements.

When you say

> The method returns the best match from the preferences, as documented.

what do you mean by "the best match"? The documentation for the method states that

> Given a string of acceptable languages from a HTTP request Accept-Language header, and an optional array of language preferences, it will return a string indicating the best language that can be used in the HTTP response.

but it doesn't seem immediately obvious to me what the "best match" is without consulting the RFC(s).

> FYI, this can still produce different results than the basic filtering method, since ranges with equal weights are prioritised according to the ordering in preferences.

I also don't believe that the current implementation of weighting conflicts with RFCs 7231 and 4647 in this way, as [RFC 7231 Section 5.3.5](https://tools.ietf.org/html/rfc7231#section-5.3.5) states that

>  Note that some recipients treat the order in which language tags are listed as an indication of descending priority, particularly for tags that are assigned equal quality values (no value is the same as q=1). However, this behavior cannot be relied upon.

so, from my POV, you're pretty much free to choose whatever method you like for tie-breaking between equally weighted options.

The "best match" is not accurately defined and currently requires looking through the source to understand. I don't believe it follows any of the RFC4647 schemes.

Reading the API entry again, I agree that depending on context, you could expect ranges to match longer entries in the preferences.

I made an attempt at a revised implementation in #65 to accommodate this while clarifying the docs.

@kanongil In my opinion the "best-match" should follow the RFC, what else are the RFCs for? Especially considering that the current understanding for a "best match" is not documented anywhere. I think it is reasonable to assume that the major portion of projects using hapi-accept assumed that this project implements an official standard, because no where is stated otherwise. 

The next.js issue @strangedev linked above got more or less dismissed, because contributors of next assumed that hapi is in fact implementing the RFC and that they don't want to deviate from the RFC.

Hello everyone. I ran into this issue while investigating [same issue as mentioned in first post](https://github.com/vercel/next.js/issues/20488#issuecomment-770890446). My use case is that I need following test to pass.

```
const language = Accept.language('it-CH', ['it']);
expect(language).to.equal('it');
```

Issue comes from iOS Safari not providing two letter code alongside longer format.. 

The language matching follows the "basic filtering" scheme defined in https://tools.ietf.org/html/rfc4647#section-3.3.1.  Here's the crux of it:
> Each basic language range in the language priority list is considered
   in turn, according to priority.  A language range matches a
   particular language tag if, in a case-insensitive comparison, it
   exactly equals the tag, or if it exactly equals a prefix of the tag

In this case we do not match the language range `it-CH` to the language tag `it` because `it-CH` is not equal to or a prefix of `it`.  You may want to massage the header value for Safari to meet your use case, e.g. expand `'it-CH'` to `'it-CH, it'` prior to matching.